<div class="flex flex-nowrap  gap-3">
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="capPresentation" name="capPresentation" value="capPresentation"></p-checkbox>
        <label class="ml20" for="capPresentation">Presentación Capgemini</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="Capabilities" name="Capabilities" value="Capabilities"></p-checkbox>
        <label class="ml20" for="Capabilities">Capacidades</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="approach" name="approach" value="approach"></p-checkbox>
        <label class="ml20" for="approach">Enfoque de solución</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="metodology" name="metodology" value="metodology"></p-checkbox>
        <label class="ml20" for="metodology">Metodología</label>
    </div>
</div>
<div class="flex flex-nowrap  gap-3">
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="workModel" name="workModel" value="workModel"></p-checkbox>
        <label class="ml20" for="workModel">Modelo de trabajo</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="team" name="team" value="team"></p-checkbox>
        <label class="ml20" for="team">Equipo</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="planning" name="planning" value="planning"></p-checkbox>
        <label class="ml20" for="planning">Planning</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="netWorth" name="netWorth" value="netWorth"></p-checkbox>
        <label class="ml20" for="netWorth">Valor añadido</label>
    </div>
</div>
<div class="flex flex-nowrap  gap-3">
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="innovation" name="innovation" value="innovation"></p-checkbox>
        <label class="ml20" for="innovation">Innovación</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="references" name="references" value="references"></p-checkbox>
        <label class="ml20" for="references">Referencias</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
        <p-checkbox id="keyDocument" name="keyDocument" value="keyDocument"></p-checkbox>
        <label class="ml20" for="keyDocument">Documento clave</label>
    </div>
    <div class="flex p-float-label flex-1 field mr4rem">
      
    </div>
</div>