<br/>
<span class="p-float-label">
    <input id="float-input" class="w-full" type="text" pInputText required [(ngModel)]="data.name" name="name"> 
    <label for="float-input">Nombre</label>
</span>
<br/>
<span class="p-float-label">
    <input id="float-input" class="w-full" type="number" min=1 pInputText required [(ngModel)]="data.priority" name="priority">
    <label for="float-input">Prioridad</label>
</span>
<br/>
<br>
<div class="flex flex-row-reverse w-auto">
    <div>    
        <button type="button" pButton label="Guardar" class="w-6rem " (click)="editMethodology(data)" 
        [disabled]="this.data.name == null || this.data.name == '' || this.data.priority == null || this.data.priority <= 0"></button>
    </div>
    <div class="px-2">
        <button type="button" pButton label="Cerrar" class="p-button-outlined w-6rem p-button-secondary " (click)="onClose(false)"></button>
    </div>
</div> 