<p-table [value]="methodologyItemList" [scrollable]="true" scrollHeight="calc(100vh - 160px)" responsiveLayout="scroll">
    <ng-template pTemplate="header">
    <tr>
        <th>Nombre</th>
        <th style='flex: 0 0 150px'>Prioridad</th>
        <th style='flex: 0 0 150px'>Acción</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-methodologyItemList>
        <tr>
            <td>{{methodologyItemList.name}}</td>
            <td style='flex: 0 0 150px'>{{methodologyItemList.priority}}</td>
            <td style='flex: 0 0 150px'>
                <div>
                    <button pButton type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-text p-button-plain icon"
                        (click)="showEditDialog(methodologyItemList.id)"></button>
                    <button pButton type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-text p-button-plain icon"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>