<div class="flex flex-column">
  <br/>
  <span class="p-float-label field">
    <input id="username-input" class="w-full" pInputText required disabled [(ngModel)]="user.username">
    <label for="username-input" class="block">Username</label>
  </span>
  <span class="p-float-label field">
    <input id="firstname-input" pInputText class="w-full" [(ngModel)]="user.firstName">
    <label for="firstname-input" class="block">Nombre</label>
  </span>
  <span class="p-float-label field">
    <input id="lastname-input" pInputText class="w-full" [(ngModel)]="user.lastName">
    <label for="firstname-input" class="block">Apellidos</label>
  </span>
  <span class="p-float-label field">
    <input id="email-input" pInputText class="w-full" required [(ngModel)]="user.email">
    <label for="email-input" class="block">Email</label>
  </span>
  <span class="p-float-label field">
    <p-dropdown inputId="role-dropdown" [options]="roles" [(ngModel)]="user.role" optionLabel="name" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    <label for="role-dropdown" class="block">Rol</label>
  </span>
  <small *ngIf="showEmptyMessage" class="p-error">El Email no puede estar vacío</small>
  <div class="flex flex-row-reverse w-auto mt-8">
    <div>
      <button type="button" pButton label="Guardar" class="w-6rem " (click)="editUser(user)"></button>
    </div>
    <div class="px-2">
      <button type="button" pButton label="Cerrar" class="p-button-secondary w-6rem " (click)="onClose()"></button>
    </div>
  </div>
</div>
