<p-tabView [(activeIndex)]="activeItem">
    <p-tabPanel header="Oportunidad">
        <app-chance></app-chance>
    </p-tabPanel>
    <p-tabPanel header="Planificación y proyecto">
        <app-planandproyect></app-planandproyect>
    </p-tabPanel>
    <p-tabPanel header="Documentación">
        <app-documentation></app-documentation>
    </p-tabPanel>
    <p-tabPanel header="Capítulos de interés">
        <app-interest></app-interest>
    </p-tabPanel>
    <p-tabPanel header="Seguimiento">
        <app-tracing></app-tracing>
    </p-tabPanel>
</p-tabView>