<form [formGroup]="form">
  <div *ngIf="requiredComent('comment')">
    <span>Añade un comentario del motivo:</span>
    <div class="ui-fluid formgrid grid justify-content-center mt-3">
      <span class="p-float-label p-fluid field col-12 md:col-6">
        <textarea pInputTextarea [(ngModel)]="modifyStatus.tracing.comment" formControlName="comment" [rows]="6"
          [ngStyle]="{'resize': 'none'}"></textarea>
        <label>Comentario</label>
      </span>
    </div>
  </div>
  <div *ngIf="isEqual(offer.opportunityStatus.name, labelInGoNoGo, null)">
    <div *ngIf="isEqual(selectedOptionStatus.name, labelInProgress, 'goNoGoDate')">
      <span>Añade la fecha de Go/NoGo:</span>
      <div class="ui-fluid formgrid grid justify-content-center mt-3">
        <span class="p-float-label p-fluid field col-12 md:col-6">
          <p-calendar [(ngModel)]="modifyStatus.goNogoDate" [showIcon]="true" appendTo="body"
            date-describedby="date-help" formControlName="goNoGoDate">
          </p-calendar>
          <label>Fecha</label>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isEqual(selectedOptionStatus.name, labelInDelivered, 'progressDate')">
    <span>Añade la fecha de entrega:</span>
    <div class="ui-fluid formgrid grid justify-content-center mt-3">
      <span class="p-float-label p-fluid field col-12 md:col-6">
        <p-calendar [(ngModel)]="modifyStatus.deliveryDate" [showIcon]="true" appendTo="body"
          date-describedby="date-help" formControlName="progressDate">
        </p-calendar>
        <label>Fecha</label>
      </span>
    </div>
  </div>
  <div *ngIf="isEqual(offer.opportunityStatus.name, labelInDelivered, 'deliveredOption')">
    <span>¿La oferta ha sido ganada o perdida?</span>
    <div class="ui-fluid formgrid grid justify-content-center mt-3">
      <span class="p-fluid field col-12 md:col-6">
        <p-selectButton [(ngModel)]="modifyStatus.win" [options]="winOpion" optionLabel="label" optionValue="value"
          formControlName="deliveredOption"></p-selectButton>
      </span>
    </div>
  </div>
</form>