<p-confirmDialog [closable]="false" icon="pi pi pi-sitemap" [transitionOptions]="'0ms'">
  <p-footer>
    <button type="button" pButton label="No" class="p-button-outlined p-button-secondary" (click)="closeDialog()"></button>
    <button type="button" pButton label="Sí" class="p-button-primary" (click)="changeFlagForDelete()"></button>
  </p-footer>
</p-confirmDialog>

<form [formGroup]="formValidator">
  <div class="flex flex-column gap-3" style="height: calc(100vh - 355px);">

    <div class="flex flex-row gap-2 w-full pt-2">
      <div class="flex flex-1 p-float-label">
        <input class="w-full" pInputText formControlName="nameOpportunity" [(ngModel)]="data.name" maxlength="100" aria-describedby="nameOpportunity-help" />
        <label>Nombre Oportunidad*</label>
      </div>

      <div class="flex flex-1 p-float-label">
        <p-autoComplete class="w-full" [suggestions]="results" [(ngModel)]="data.client" formControlName="client" (completeMethod)="searchClient($event)" appendTo="body" aria-describedby="client-help"></p-autoComplete>
        <label>Cliente*</label>
      </div>

      <div class="flex-none w-9rem p-float-label">
        <input class="w-full" pInputText [(ngModel)]="data.bdcCode" formControlName="bdcCode" />
        <label>Código BDC</label>
      </div>

      <div class="flex-none w-9rem p-float-label">
        <p-dropdown class="w-full" styleClass="w-full" [options]="offerTypes" [(ngModel)]="data.opportunityType" formControlName="opportunityType" optionLabel="name" appendTo="body" aria-describedby="opportunityType-help"></p-dropdown>
        <label>Tipo de Oportunidad</label>
      </div>

      <p-checkbox class="w-9rem justify-content-center" labelStyleClass="cursor-pointer" [binary]="true" inputId="binary" [(ngModel)]="data.genAi" formControlName="genAi" label="Gen AI"></p-checkbox>
    </div>

    <div class="flex flex-row gap-2 w-full">
      <div class="flex flex-1 p-float-label">
        <p-autoComplete class="w-full" [(ngModel)]="selectedRequestedBy" formControlName="requestedBy" [suggestions]="groupPerson"
          [forceSelection]="true" [showEmptyMessage]="true" [emptyMessage]="message"
          (completeMethod)="searchPerson($event)" (onSelect)="data.requestedBy = $event.value" field="field"
          appendTo="body"></p-autoComplete>
        <label>Quien solicita</label>
      </div>
      
      <div class="flex flex-1 p-float-label">
        <p-autoComplete class="w-full" [(ngModel)]="selectedManagedBy" formControlName="managedBy" [suggestions]="groupPerson"
          [forceSelection]="true" [showEmptyMessage]="true" [emptyMessage]="message"
          (completeMethod)="searchPerson($event)" (onSelect)="data.managedBy = $event.value" field="field"
          appendTo="body"></p-autoComplete>
        <label>Responsable CCA</label>
      </div>

      <div class="flex-none w-9rem p-float-label">
        <p-calendar class="w-full" styleClass="w-full" [style]="{'height':'42px'}" [showIcon]="true" [(ngModel)]="data.goNogoDate" formControlName="goNogoDate" appendTo="body">
        </p-calendar>
        <label>Fecha Go/No Go</label>
      </div>

      <div class="flex-none w-9rem p-float-label">
        <p-calendar class="w-full" styleClass="w-full" [style]="{'height':'42px'}" [showIcon]="true" [(ngModel)]="data.requestedDate" formControlName="requestedDate" appendTo="body"
          aria-describedby="requestedDate-help"></p-calendar>
        <label class="ajustar">Fecha Solicitud*</label>
      </div>
      
      <div class="flex-none w-9rem p-float-label">
        <p-calendar class="w-full" styleClass="w-full" styleClass="w-full" [style]="{'height':'42px'}" [showIcon]="true" [(ngModel)]="data.deliveryDate" formControlName="deliveryDate" appendTo="body" aria-describedby="deliveryDate-help"></p-calendar>
        <label>F. Entrega Op.</label>
      </div>
    </div>


    <div class="flex flex-row gap-2 w-full">

      <div class="flex-none p-float-label" style="width:calc(45vw - 200px)">
        <p-multiSelect class="w-full text-overflow-ellipsis" styleClass="w-full text-overflow-ellipsis" [options]="offerings" [filter]="false" [(ngModel)]="data.offerings" formControlName="offerings" optionLabel="name"
          appendTo="body" [showToggleAll]="false" [showClear]="true"></p-multiSelect>
        <label>Offering</label>
      </div>

      <div class="flex-none p-float-label" style="width:calc(45vw - 200px)">
        <p-multiSelect class="w-full text-overflow-ellipsis" styleClass="w-full text-overflow-ellipsis" [options]="technologies" [filter]="false" [(ngModel)]="data.technologies" formControlName="technologies"
          optionLabel="name" appendTo="body" [showToggleAll]="false" [showClear]="true"></p-multiSelect>
        <label>Tecnologías</label>
      </div>

      <div class="flex flex-1 p-float-label">
        <p-dropdown class="w-full" styleClass="w-full" [(ngModel)]="data.sector" [options]="sectors" formControlName="sector" optionLabel="name"
          appendTo="body" aria-describedby="sector-help"></p-dropdown>
        <label>Sector*</label>
      </div>

      <div class="flex flex-1 p-float-label">
        <p-dropdown class="w-full" styleClass="w-full" [(ngModel)]="data.dataProject.projectType" [options]="projectType" formControlName="dataProject"
          optionLabel="name" appendTo="body"></p-dropdown>
        <label>Tipo de Proyecto</label>
      </div>      
    </div>
    
    <div class="flex flex-1 p-float-label w-full h-full" >
        <textarea class="w-full h-full" pInputTextarea [(ngModel)]="data.observations" formControlName="observations" [rows]="14"></textarea>
        <label>Observaciones comerciales</label>
    </div>

  </div>  
</form>

<div class="loadWrapper flex align-items-center flex-column justify-content-center" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>