<p-confirmDialog [closable]="false" icon="pi pi pi-sitemap" [transitionOptions]="'0ms'">
  <p-footer>
    <button type="button" pButton label="No" class="p-button-secondary" (click)="closeDialog()"></button>
    <button type="button" pButton label="Sí" class="p-button-primary" (click)="changeFlagForDelete()"></button>
  </p-footer>
</p-confirmDialog>
<form [formGroup]="formValidator">
  <div class="ui-fluid formgrid grid mt-3">
    <div class="p-fluid field col-12 md:col-5">
      <span class="p-float-label">
        <input pInputText formControlName="nameOpportunity" [(ngModel)]="data.name"
          aria-describedby="nameOpportunity-help"/>
        <label>Nombre Oportunidad*</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <p-autoComplete [suggestions]="results" [(ngModel)]="data.client" [forceSelection]="true"
          [showEmptyMessage]="true" [emptyMessage]="message" formControlName="client"
          (completeMethod)="searchClient($event)" appendTo="body" aria-describedby="client-help"></p-autoComplete>
        <label>Cliente*</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <input pInputText [(ngModel)]="data.bdcCode" formControlName="bdcCode" />
        <label>Código BDC</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <p-dropdown [options]="offerTypes" [(ngModel)]="data.opportunityType" formControlName="opportunityType"
          optionLabel="name" appendTo="body" aria-describedby="opportunityType-help"></p-dropdown>
        <label>Tipo de Oferta</label>
      </span>
    </div>
    <div class="col-12 md:col-1 mt-3">
      <span class="p-fluid field-checkbox">
        <p-checkbox [(ngModel)]="data.opportunityWin" [binary]="true" inputId="binary" formControlName="opportunityWin"
          [disabled]="true">
        </p-checkbox>
        <label>Ganada</label>
      </span>
    </div>
  </div>
  <div class="ui-fluid formgrid grid mt-3">
    <div class="p-fluid field col-12 md:col-3">
      <span class="p-float-label">
        <p-autoComplete [(ngModel)]="selectedRequestedBy" formControlName="requestedBy" [suggestions]="groupPerson"
          [forceSelection]="true" [showEmptyMessage]="true" [emptyMessage]="message"
          (completeMethod)="searchPerson($event)" (onSelect)="data.requestedBy = $event.value" field="field"
          appendTo="body"></p-autoComplete>
        <label>Quien solicita</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-3">
      <span class="p-float-label">
        <p-autoComplete [(ngModel)]="selectedManagedBy" formControlName="managedBy" [suggestions]="groupPerson"
          [forceSelection]="true" [showEmptyMessage]="true" [emptyMessage]="message"
          (completeMethod)="searchPerson($event)" (onSelect)="data.managedBy = $event.value" field="field"
          appendTo="body"></p-autoComplete>
        <label>Responsable CCA</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <p-calendar [showIcon]="true" [(ngModel)]="data.goNogoDate" formControlName="goNogoDate" appendTo="body">
        </p-calendar>
        <label>Fecha Go/No Go</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <div class="p-float-label">
        <p-calendar [showIcon]="true" [(ngModel)]="data.requestedDate" formControlName="requestedDate" appendTo="body"
          aria-describedby="requestedDate-help"></p-calendar>
        <label>Fecha Solicitud*</label>
      </div>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <input formControlName="state" [(ngModel)]="data.opportunityStatus.name" pInputText />
        <label>Estado</label>
      </span>
    </div>
  </div>
  <div class="ui-fluid formgrid grid mt-3">
    <div class="p-fluid field col-12 md:col-4">
      <span class="p-float-label">
        <p-multiSelect [options]="offerings" [(ngModel)]="data.offerings"
          formControlName="offerings" optionLabel="name" appendTo="body"></p-multiSelect>
        <label>Offering</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-4">
      <span class="p-float-label">
        <p-multiSelect [options]="technologies" [(ngModel)]="data.technologies"
          formControlName="technologies" optionLabel="name" appendTo="body"></p-multiSelect>
        <label>Tecnologías</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <p-dropdown [(ngModel)]="data.sector" [options]="sectors" formControlName="sector" optionLabel="name"
          appendTo="body" aria-describedby="sector-help"></p-dropdown>
        <label>Sector*</label>
      </span>
    </div>
    <div class="p-fluid field col-12 md:col-2">
      <span class="p-float-label">
        <p-dropdown [(ngModel)]="data.dataProject.projectType" [options]="projectType" formControlName="dataProject"
          optionLabel="name" appendTo="body"></p-dropdown>
        <label>Tipo de Proyecto</label>
      </span>
    </div>
  </div>
  <div class="ui-fluid formgrid grid mt-3">
    <div class="p-fluid field col-12 md:col-12">
      <span class="p-float-label">
        <textarea pInputTextarea [(ngModel)]="data.observations" formControlName="observations" [rows]="14"
          [ngStyle]="{'resize': 'none'}"></textarea>
        <label>Observaciones</label>
      </span>
    </div>
  </div>
</form>
<div class="loadWrapper flex align-items-center flex-column justify-content-center" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>