<div class="flex flex-column">
  <br>
  <span class="p-float-label field">
        <input id="name" type="text" class="w-full" pInputText required [(ngModel)]="projectTypeElement.name"  required>
        <label for="name">Nombre</label>
    </span>
  <span class="p-float-label field">
        <input id="priority" type="number" min="1"  class="w-full" pInputText required [(ngModel)]="projectTypeElement.priority" required>
        <label for="priority">Prioridad</label>
    </span>
</div>

<br>

<div class = "flex flex-row-reverse w-auto">
  <div>
    <button type="button" class=" p-button-primary w-6rem" [disabled]="projectTypeElement.name=='' || projectTypeElement.name==null || projectTypeElement.priority==null || projectTypeElement.priority < 1" (click)="saveItem(projectTypeElement)" pButton label="Guardar"></button>
  </div>
  <div class="px-2">
    <button type="button" class="p-button-secondary w-6rem" (click)="closeWindow(false)" pButton label="Cerrar"></button>
  </div>
</div>
