<p-toast position="top-center"></p-toast>

<div [formGroup]="filterForm" class="w-full flex flex-row pb-4" >
  <div class="w-full flex flex-row gap-4">
    <div class="flex flex-1 flex-column gap-2">
      <div class="flex flex-row gap-4">
        <span class="p-float-label flex flex-1">
          <input pInputText [(ngModel)]="offerSearch.client" field="field" formControlName="client" class="w-full" (keydown.enter)="loadPage()">
          <label>Cliente</label>
        </span>
        <span class="p-float-label flex-1">
          <p-autoComplete [suggestions]="groupPerson" [forceSelection]="true" [showEmptyMessage]="true"
            [emptyMessage]="message" (completeMethod)="searchPerson($event)"
            (onSelect)="offerSearch.requestedBy = $event.value" field="field" appendTo="body"
            [showClear]="offerSearch.requestedBy" (onClear)="resetValueForm('requestedBy')"
            formControlName="requestedBy" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" (onSelect)="loadPage()" (onClear)="loadPage()">
          </p-autoComplete>
          <label>Comercial</label>
        </span>

        <span class="p-float-label w-15rem">
          <p-dropdown [(ngModel)]="offerSearch.sector" [options]="sectors" optionLabel="name" appendTo="body"
            [showClear]="true" formControlName="sector" (onClear)="resetValueForm('sector')" [autoDisplayFirst]="false" [style]="{width: '100%'}" (onChange)="loadPage()" (onClear)="loadPage()">
          </p-dropdown>
          <label>Sector</label>
        </span>

        <span class="p-float-label w-15rem">
          <p-dropdown [(ngModel)]="offerSearch.type" [options]="types" optionLabel="name" appendTo="body"
            [showClear]="true" formControlName="type" (onClear)="resetValueForm('type')" [autoDisplayFirst]="false" [style]="{width: '100%'}"  (onChange)="loadPage()" (onClear)="loadPage()">
          </p-dropdown>
          <label>Tipo</label>
        </span>
      </div>

      <div class="flex flex-row gap-4">

        <span class="p-float-label flex-1">
          <p-autoComplete [suggestions]="groupPerson" [forceSelection]="true" [showEmptyMessage]="true"
            [emptyMessage]="message" (completeMethod)="searchPerson($event)"
            (onSelect)="offerSearch.involved = $event.value" field="field" appendTo="body"
            [showClear]="offerSearch.involved" (onClear)="resetValueForm('involved')" formControlName="involved"
            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"  (onSelect)="loadPage()" (onClear)="loadPage()">
          </p-autoComplete>
          <label>Persona implicada</label>
        </span>

        <span class="p-float-label flex-1">
          <p-autoComplete [suggestions]="groupPerson" [forceSelection]="true" [showEmptyMessage]="true"
            [emptyMessage]="message" (completeMethod)="searchPerson($event)"
            (onSelect)="offerSearch.managedBy = $event.value" field="field" appendTo="body"
            [showClear]="offerSearch.managedBy" (onClear)="resetValueForm('managedBy')" formControlName="managedBy"
            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"  (onSelect)="loadPage()" (onClear)="loadPage()">
          </p-autoComplete>
          <label>Responsable CCA</label>
        </span>

        <span class="p-float-label w-15rem">
          <p-multiSelect [(ngModel)]="offerSearch.status" [options]="status" optionLabel="name" appendTo="body"
            [showClear]="true" formControlName="status" (onClear)="filterStatus=[]" [style]="{'width':'100%'}" (onChange)="loadPage()">
          </p-multiSelect>
          <label>Estado</label>
        </span>

        <span class="p-float-label w-15rem">
          <p-calendar [showIcon]="true" [(ngModel)]="offerSearch.deliveryDate" selectionMode="range"
            [readonlyInput]="true" appendTo="body" formControlName="deliveryDate"
            (onClear)="resetValueForm('startDateModification')" [style]="{'width':'100%'}"  (onSelecte)="loadPage()">
          </p-calendar>
          <label>Fecha Entrega Oportunidad</label>
        </span>
      </div>

    </div>
    <div class="align-self-center flex flex-row gap-2">
      <button pButton label="Limpiar" class="p-button-outlined p-button-secondary" [disabled]="!isAssignValuesFilter()"
        (click)="resetForm()"></button>
      <button pButton label="Filtrar" class="p-button-outlined" [disabled]="filterForm.invalid"
        (click)="loadPage()"></button>
    </div>
  </div>
</div>

<p-table [style]="{'height':'calc(100vh - 240px)'}" [value]="offerItemList" [lazy]="true" (onLazyLoad)="loadPage($event)" 
  [loading]="isloading" [scrollable]="true" scrollHeight="flex" responsiveLayout="scroll" [paginator]="true" [rows]="50"
  [totalRecords]="totalElements" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20, 50, 100]" sortField="deliveryDate" [sortOrder]="-1"
  currentPageReportTemplate="{first} - {last} / {totalRecords}" paginatorPosition="bottom" [globalFilterFields]="['opportunityStatus.name']" 
  styleClass="p-datatable-striped" selectionMode="single" >
  <ng-template pTemplate="header" >
    <tr>
      <th class="flex-none w-3rem">
        <div class="top-header"></div>
      </th>
      <th class="flex-1 flex-column  align-items-center justify-content-center"> 
        <div class="flex flex-row w-full top-header" pSortableColumn="name">
            <span class="flex flex-1 justify-content-center">Nombre Oportunidad</span>
            <p-sortIcon field="name"></p-sortIcon>
        </div>   
      </th>
      <th class="flex-none w-16rem flex-column  align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="client">
          <span class="flex flex-1 justify-content-center">Cliente</span>
          <p-sortIcon field="client"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-8rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="sector">
          <span class="flex flex-1 justify-content-center">Sector</span>
          <p-sortIcon field="sector"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-8rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="opportunityType">
          <span class="flex flex-1 justify-content-center">Tipo</span>
          <p-sortIcon field="opportunityType"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-7rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="genAi">
          <span class="flex flex-1 justify-content-center">Gen AI</span>
          <p-sortIcon field="genAi"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-8rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="opportunityStatus">
          <span class="flex flex-1 justify-content-center">Estado</span>
          <p-sortIcon field="opportunityStatus"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-14rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="managedBy">
          <span class="flex flex-1 justify-content-center">Gestor responsable</span>
          <p-sortIcon field="managedBy"> </p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-7rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="requestedDate">
          <span class="flex flex-1 justify-content-center">F. Solicitud</span>
          <p-sortIcon field="requestedDate"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-7rem flex-column align-items-center justify-content-center" >
        <div class="flex flex-row w-full top-header" pSortableColumn="deliveryDate">
          <span class="flex flex-1 justify-content-center">F. Entrega</span>
          <p-sortIcon field="deliveryDate"></p-sortIcon>
        </div>
      </th>
      <th class="flex-none w-7rem">
        <div class="top-header"></div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-offerItemList>
    <tr>
      <td  class="flex-none w-3rem">
        <div class="flex flex-row justify-content-center">
          <button title="Cambiar proridad" [ngClass]="{'p-button-info': !offerItemList.priority}" *ngIf="canEditOffer(offerItemList)" pButton type="button" icon="pi pi-exclamation-triangle" (click)="onPriorityChange(offerItemList)" class="p-button-rounded p-button-text"></button>
        </div>
      </td>
      <td class="flex-1 overflow-hidden text-overflow-ellipsis" [ngClass]="{'font-bold text-red-700': offerItemList.priority}" pTooltip="{{offerItemList.name}}" tooltipPosition="top">{{ offerItemList.name }}</td>
      <td class="flex-none w-16rem align-items-center justify-content-left" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ offerItemList.client}}</td>
      <td class="flex-none w-8rem align-items-center justify-content-left" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ offerItemList.sector.name }}</td>
      <td class="flex-none w-8rem align-items-center justify-content-left" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ offerItemList.opportunityType.name }}</td>
      <td class="flex-none w-7rem align-items-center justify-content-left" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ transformYesNo(offerItemList.genAi) }}</td>
      <td class="flex-none w-8rem align-items-center justify-content-left" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ offerItemList.opportunityStatus.name }}</td>
      <td class="flex-none w-14rem align-items-center justify-content-left" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ transformPerson(offerItemList.managedBy) }}</td>
      <td class="flex-none w-7rem align-items-center text-center" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ offerItemList.requestedDate | date: "dd/MM/yyyy" }}</td>
      <td class="flex-none w-7rem align-items-center text-center" [ngClass]="{'font-bold text-red-700': offerItemList.priority}">{{ offerItemList.deliveryDate | date: "dd/MM/yyyy" }}</td>
      <td class="flex-none w-7rem">
        <div class="flex flex-row justify-content-center">
          <button title="Cambiar estado" *ngIf="canEditOffer(offerItemList)" pButton type="button" icon="pi pi-th-large" (click)="onStatusChange(offerItemList)" class="p-button-rounded p-button-text p-button-plain icon"></button>          
          <div *ngIf="!canEditOffer(offerItemList)" style="width:44px"></div>
          <button title="Editar oferta" *ngIf="canEditOffer(offerItemList)" pButton type="button" icon="pi pi-pencil" (click)="onRowSelected(offerItemList)" class="p-button-rounded p-button-text p-button-plain icon"></button>          
          <button title="Ver oferta" *ngIf="!canEditOffer(offerItemList)" pButton type="button" icon="pi pi-eye" (click)="onRowSelected(offerItemList)" class="p-button-rounded p-button-text p-button-plain icon"></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <button pButton id="export" (click)="exportAll()" class="p-button-outlined" [loading]="isloadingExport">Exportar oportunidades</button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <button pButton id="create-offer" (click)="toOfferEdit()" class="p-button-primary">Nueva oportunidad</button>
  </ng-template>
</p-table>