<p-table [value]="sectors"
        rowGroupMode="subheader"
        [scrollable]="true"
        groupRowsBy="active"
        sortField="active"
        sortOrder="-1"
        [loading]="isLoading"
        scrollHeight="calc(100vh - 184px)"
        responsiveLayout="scroll">
            <ng-template pTemplate="groupheader" let-sector>
                <tr pRowGroupHeader>
                    <td colspan="5">
                        <ng-container *ngIf="sector.active == true; else inactive">
                            <span class="font-bold ml-2">Activo</span>
                          </ng-container>
                          <ng-template #inactive>
                            <span class="font-bold ml-2">Inactivo</span>
                          </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Nombre<p-sortIcon field="name"></p-sortIcon>  </th>
                <th style="flex: 0 0 150px" pSortableColumn="priority" >Prioridad <p-sortIcon field="priority"></p-sortIcon></th>
                <th style="flex: 0 0 150px" pSortableColumn="startDate" >Fecha inicio <p-sortIcon field="startDate"></p-sortIcon></th>
                <th style="flex: 0 0 150px" pSortableColumn="endDate" >Fecha final<p-sortIcon field="endDate"></p-sortIcon></th>
                <th style="flex: 0 0 150px">Acción</th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sector>
                <tr>
                    <td>{{sector.name}}</td>
                    <td style="flex: 0 0 150px">{{sector.priority}}</td>
                    <td style="flex: 0 0 150px">{{sector.startDate}}</td>
                    <td style="flex: 0 0 150px">{{sector.endDate}}</td>
                    <td style="flex: 0 0 150px">
                        <button pButton type="button" icon="pi pi-pencil" pTooltip="Editar sector" tooltipPosition="top"
                            class="p-button-rounded p-button-text p-button-plain icon"></button>
                        <button pButton type="button" icon="pi pi-trash" pTooltip="Borrar sector" tooltipPosition="top"
                            class="p-button-rounded p-button-text p-button-plain icon"></button>
                    </td>
                </tr>
            </ng-template>
</p-table>