@import "./src/assets/scss/master";

.private-layout {
    ::ng-deep {
      .p-sidebar {
        background-color: $primary;
        position: relative;
      }
  
      .p-sidebar-left {
        top:auto;
      }
    }
}