<div class="flex flex-column">
    <br>
    <span class="p-float-label field">
        <input id="name" type="text" class="w-full" pInputText required [(ngModel)]="elementHyperscaler.name"  required> 
        <label for="name">Nombre</label>
    </span>  
    <span class="p-float-label field">
        <input id="priority" type="number" min="1"  class="w-full" pInputText required [(ngModel)]="elementHyperscaler.priority" required>
        <label for="priority">Prioridad</label>
    </span>    
</div>

<div *ngIf="fieldsNull==true"><small class="p-error block"> Existe al menos un campo vacío</small></div>
<div *ngIf="outOfRange==true"><small class="p-error block"> El registro contiene una prioridad fuera de rango</small></div>
<div *ngIf="existsPriority==true"><small class="p-error block"> El registro tiene la misma prioridad o nombre que otro registro y no se puede guardar</small></div>

<br>

<div class = "flex flex-row-reverse w-auto">
    <div>
        <button type="button" class=" p-button-primary w-6rem" (click)="saveChanges(elementHyperscaler)" pButton label="Guardar"></button>
    </div>
    <div class="px-2">
        <button type="button" class="p-button-secondary w-6rem" (click)="close()" pButton label="Cerrar"></button>
    </div>   
</div>


