<div class="flex flex-column gap-3" style="height: calc(100vh - 355px);">
<div class="ui-fluid formgrid grid mt-3">
  <div class="p-fluid col-12 md:col-3">
    <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.presentation"
    label="Presentación Empresa"></p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
    <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.capabilities"
    label="Capacidades"></p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
    <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.approach"
    label="Enfoque de solución"></p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
    <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.methodology" label="Metodología"></p-checkbox>
  </div>
</div>
<div class="ui-fluid formgrid grid mt-5">
  <div class="p-fluid col-12 md:col-3">
      <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.workModel" label="Modelo de trabajo"></p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
    <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.team" label="Equipo"></p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
      <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.planning" label="Planning"></p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
      <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.valueAdded" label="Valor añadido"></p-checkbox>
  </div>
</div>
<div class="ui-fluid formgrid grid mt-5">
  <div class="p-fluid col-12 md:col-3">
      <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.innovation" label="Innovación">
      </p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
      <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.reference" label="Referencias">
      </p-checkbox>
  </div>
  <div class="p-fluid col-12 md:col-3">
      <p-checkbox labelStyleClass="cursor-pointer" [binary]="true" [(ngModel)]="data.dataChapter.keyDocument" label="Documento clave">
      </p-checkbox>
  </div>
</div>
</div>