<div class="flex flex-column" >
    <br>
    <span class="p-float-label field">
        <input id="name" type="text" class="w-full"  pInputText [(ngModel)]="sector.name" required>
        <label for="name">Nombre</label>
    </span>
    <span class="p-float-label field">
        <input id="priority" type="number" min="1" class="w-full" pInputText [(ngModel)]="sector.priority" required>
        <label for="priority">Prioridad</label>
    </span>
</div>
<br>
<div class="flex flex-row" style="margin-bottom: 20px">
    <div class="p-float-label field">
        <p-calendar [showIcon]="true"  [(ngModel)]="sector.startDate" appendTo="body"></p-calendar>
        <label>Fecha de inicio</label>
    </div>
    <div class="p-float-label field">
        <p-calendar [showIcon]="true" [(ngModel)]="sector.endDate" appendTo="body"></p-calendar>
        <label>Fecha final</label>
    </div>  
</div>
<div class = "flex flex-row-reverse w-auto">
    <div>
        <button type="button" class="p-button-primary w-6rem" [disabled]="
            sector.name == '' || sector.name == null || sector.priority == null || sector.priority < 1"
            pButton label="Guardar"
            (click)="saveChanges(sector)"
            >
        </button>
    </div>
    <div class="px-2">
        <button type="button" class="p-button-secondary w-6rem" (click)="close()" pButton label="Cerrar"></button>
    </div>
</div>