
<br>
<span class="p-float-label">
    <input id="name-input" type="text" class="w-full" pInputText required [(ngModel)]="offering.name" name="name" required> 
    <label for="name-input">Nombre</label>
</span> 
<br> 
<span class="p-float-label">
    <input id="priority-input" type="number" min="1" class="w-full" pInputText required [(ngModel)]="offering.priority" name="priority" required>
    <label for="priority-input">Prioridad</label>
</span>        

<br>
<br>

<div class = "flex flex-row-reverse w-auto">
    <div>
        <button type="button" class=" p-button-primary w-6rem" [disabled]="offering.name==null || offering.priority==null || offering.priority < 1" (click)="onSave(offering)" pButton label="Guardar"></button>
    </div>
    <div class="px-2">
        <button type="button" class="p-button-outlined w-6rem p-button-secondary" (click)="onClose(false)" pButton label="Cerrar"></button>
    </div>   
</div>