<form [formGroup]="formValidator">
    <div class="ui-fluid formgrid grid">
        <div class="p-fluid field col-12 md:col-4">
            <span class=" p-float-label ">
                <input pInputText formControlName="nameOpportunity" [(ngModel)]="data.name"
                    aria-describedby="nameOpportunity-help" />
                <label>Nombre Oportunidad</label>
            </span>
            <small id="nameOpportunity-help" class="block p-error" *ngIf="checkValidation('nameOpportunity')">Es un
                campo
                requerido.</small>
        </div>
        <div class="p-fluid field col-12 md:col-4">
            <span class="p-float-label">
                <p-autoComplete [suggestions]="results" [(ngModel)]="data.client" [forceSelection]="true"
                    [showEmptyMessage]="true" [emptyMessage]="message" formControlName="client"
                    (completeMethod)="searchClient($event)" appendTo="body"
                    aria-describedby="client-help"></p-autoComplete>
                <label>Cliente</label>
            </span>
            <small id="client-help" class="block p-error" *ngIf="checkValidation('client')">Es un campo
                requerido.</small>
        </div>
        <div class="p-fluid field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown [(ngModel)]="data.opportunityStatus" formControlName="state" [options]="status"
                    optionLabel="name" appendTo="body" aria-describedby="state-help"></p-dropdown>
                <label>Estado</label>
            </span>
            <small id="state-help" class="block p-error" *ngIf="checkValidation('state')">Es un campo
                requerido.</small>
        </div>
    </div>
    <div class="ui-fluid formgrid grid">
        <div class="p-fluid field col-12 md:col-3">
            <span class="p-float-label">
                <p-autoComplete [(ngModel)]="selectedRequestedBy" formControlName="requestedBy"
                    [suggestions]="groupPerson" [forceSelection]="true" [showEmptyMessage]="true"
                    [emptyMessage]="message" (completeMethod)="searchPerson($event)"
                    (onSelect)="data.requestedBy=$event.value" field="field" appendTo="body"></p-autoComplete>
                <label>Quien solicita</label>
            </span>
        </div>
        <div class="p-fluid field col-12 md:col-3">
            <span class="p-float-label">
                <p-autoComplete [(ngModel)]="selectedManagedBy" formControlName="managedBy" [suggestions]="groupPerson"
                    [forceSelection]="true" [showEmptyMessage]="true" [emptyMessage]="message"
                    (completeMethod)="searchPerson($event)" (onSelect)="data.managedBy=$event.value" field="field"
                    appendTo="body"></p-autoComplete>
                <label>Responsable CCA</label>
            </span>
        </div>
        <div class="p-fluid field col-12 md:col-2">
            <div class="p-float-label">
                <p-calendar [showIcon]="true" [(ngModel)]="data.requestedDate" formControlName="requestedDate"
                    appendTo="body" aria-describedby="requestedDate-help" dateFormat="yy-mm-dd"></p-calendar>
                <label>Fecha Solicitud</label>
            </div>
            <small id="requestedDate-help" class="block p-error" *ngIf="checkValidation('requestedDate')">Es un campo
                requerido.</small>
        </div>
        <div class="p-fluid field col-12 md:col-2">
            <span class="p-float-label">
                <p-dropdown [(ngModel)]="data.sector" [options]="sectors" formControlName="sector" optionLabel="name"
                    appendTo="body" aria-describedby="sector-help"></p-dropdown>
                <label>Sector</label>
            </span>
            <small id="sector-help" class="block p-error" *ngIf="checkValidation('sector')">Es un campo
                requerido.</small>
        </div>
        <div class="p-fluid field col-12 md:col-2">
            <span class="p-float-label">
                <p-dropdown [(ngModel)]="data.dataProject.projectType" [options]="projectType" formControlName="dataProject"
                    optionLabel="name" appendTo="body"></p-dropdown>
                <label>Tipo de Proyecto</label>
            </span>
        </div>
    </div>
    <div class="ui-fluid formgrid grid">
        <div class="p-fluid field col-12 md:col-6">
            <span class="p-float-label">
                <p-multiSelect [options]="offerings" (onChange)="assignOffering()" [(ngModel)]="selectedOfferings" formControlName="offerings"
                    optionLabel="name" appendTo="body"></p-multiSelect>
                <label>Offering</label>
            </span>
        </div>
        <div class="p-fluid field col-12 md:col-6">
            <span class="p-float-label">
                <p-multiSelect [options]="technologies" (onChange)="assignTechnologies()" [(ngModel)]="selectedTechnologies" formControlName="technologies"
                    optionLabel="name" appendTo="body"></p-multiSelect>
                <label>Tecnologías</label>
            </span>
        </div>
    </div>
    <div class="ui-fluid formgrid grid">
        <div class="p-fluid field col-12 md:col-3">
            <span class="p-float-label">
                <p-dropdown [options]="OfferTypes" [(ngModel)]="data.opportunityType" formControlName="opportunityType"
                    optionLabel="name" appendTo="body" aria-describedby="opportunityType-help"></p-dropdown>
                <label>Tipo de Oferta</label>
            </span>
            <small id="opportunityType-help" class="block p-error" *ngIf="checkValidation('opportunityType')">Es un
                campo
                requerido.</small>
        </div>
        <div class="p-fluid field col-12 md:col-3">
            <span class="p-float-label">
                <p-calendar [showIcon]="true" [(ngModel)]="data.goNogoDate" formControlName="goNogoDate" appendTo="body"
                    dateFormat="yy-mm-dd">
                </p-calendar>
                <label>Fecha Go/No Go</label>
            </span>
        </div>
        <div class="p-fluid field col-12 md:col-3">
            <span class="p-float-label">
                <p-calendar [showIcon]="true" [(ngModel)]="data.deliveryDate" formControlName="deliveryDate"
                    appendTo="body" dateFormat="yy-mm-dd"></p-calendar>
                <label>Fecha de Entrega</label>
            </span>
        </div>
        <div class="p-fluid field col-12 md:col-2">
            <span class="p-float-label">
                <input pInputText [(ngModel)]="data.bdcCode" formControlName="bdcCode" />
                <label>Código BDC</label>
            </span>
        </div>
        <div class="col-12 md:col-1">
            <span class="p-fluid field-checkbox">
                <p-checkbox [(ngModel)]="data.opportunityWin" [binary]="true" inputId="binary"
                    formControlName="opportunityWin"></p-checkbox>
                <label>Ganada</label>
            </span>
        </div>
    </div>
    <div class="ui-fluid formgrid grid">
        <div class="p-fluid field col-12 md:col-12">
            <span class="p-float-label">
                <textarea pInputTextarea [(ngModel)]="data.observations" formControlName="observations"></textarea>
                <label>Observaciones</label>
            </span>
        </div>
    </div>
</form>