<div class="flex flex-column">
    <br>
    <span class="p-float-label field">
        <input id="name" type="text" class="w-full" pInputText [(ngModel)]="elementTechnology.name" required>
        <label for="name">Nombre</label>
    </span>
    <span class="p-float-label field">
        <input id="priority" type="number" min="1" class="w-full" pInputText required [(ngModel)]="elementTechnology.priority">
        <label for="priority">Prioridad</label>
    </span>
</div>
<br>
<div class = "flex flex-row-reverse w-auto">
    <div>
        <button type="button" class="p-button-primary w-6rem" [disabled]="
            elementTechnology.name == '' || elementTechnology.name == null || elementTechnology.priority == null || elementTechnology.priority < 1"
            pButton label="Guardar"
            (click)="saveChanges(elementTechnology)">
        </button>
    </div>
    <div class="px-2">
        <button type="button" class="p-button-secondary w-6rem" (click)="close(false)" pButton label="Cerrar"></button>
    </div>
</div>