@import "./src/assets/scss/master";

::ng-deep .p-menu {
      background-color: $primary;
      border:none;
      width: 300px;
    .p-menuitem .p-menuitem-link {
        box-shadow: none;
        .p-menuitem-text {
            color: white;
        }
    } 
}