
<div *ngIf="checkIfExistsMessage == true">
    <p-messages [(value)]="msg" [enableService]="false"></p-messages>
</div>


<p-table [value]="listOfData" [resizableColumns]="true" >
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" class="w-10">
                Nombre 
                <p-sortIcon field="name"></p-sortIcon>
            </th>    
            <th pSortableColumn="priority" class="text-center">
                Prioridad
                <p-sortIcon field="priority"></p-sortIcon>
            </th>
            
            <th ></th>        
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
        <tr>
            <td>{{element.name}}</td>
            
                <td class="text-center">{{element.priority}}</td>  
                <td >
                    <div >
                        <button pButton type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-plain icon"></button>        

                        <button pButton type="button"  (click)="deleteRow(element)" icon="pi pi-trash" 
                            class="p-button-rounded p-button-text p-button-plain icon"></button>

                        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"
                            [transitionOptions]="'0ms'"></p-confirmDialog>
                    </div>
                </td>
        </tr>
    </ng-template>
</p-table>





