<p-table [value]="listOfData" [scrollable]="true" scrollHeight="calc(100vh - 160px)" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Prioridad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
        <tr>
            <td>{{element.id}}</td>
            <td>{{element.name}}</td>
            <td>{{element.priority}}</td>
        </tr>
    </ng-template>
</p-table>




