<div class="p-fluid">
    <span class="">La oferta se encuentra: <b>{{offerItemList.opportunityStatus.name}}</b></span>
</div>
<div class="mt-3">
  <span class="">A que estado desea cambiar la oferta:</span>
</div>
<div class="ui-fluid formgrid grid justify-content-center mt-3">
  <div class="p-fluid field col-12 md:col-6">
    <p-selectButton [options]="optionStatus" optionLabel="name"></p-selectButton>
  </div>
</div>
<div *ngIf="isGoNoGo()">
  <span>Fecha de Go/NoGo: {{offer.goNogoDate}}</span>
</div>
<div class="ui-fluid formgrid grid justify-content-center mt-4">
  <div class="p-fluid field col-12 md:col-3">
    <p-button (click)="onClose()" styleClass="p-button-secondary" label="Cancelar"></p-button>
  </div>
  <div class="p-fluid field col-12 md:col-3">
    <p-button (click)="onSave()" label="Guardar"></p-button>
  </div>
</div>
<div class="loadWrapper flex align-items-center flex-column justify-content-center" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

