<p-toast position="top-center"></p-toast>
<p-confirmDialog header="Confirmation" [closable]="false" icon="pi pi-exclamation-triangle" [transitionOptions]="'0ms'">
    <p-footer>
        <button type="button" pButton label="Cerrar" class="p-button-secondary" (click)="closeDialog()"></button>
        <button type="button" pButton label="Borrar" class="p-button-primary" (click)="changeFlagForDelete()"></button>
    </p-footer>
</p-confirmDialog>
<p-table [value]="offeringList" [loading]="isLoading" [scrollable]="true" scrollHeight="calc(100vh - 184px)" responsiveLayout="scroll">
    <ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="priority" style='flex: 0 0 150px'>Prioridad <p-sortIcon field="priority"></p-sortIcon></th>
        <th style='flex: 0 0 150px'></th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-offeringList>
        <tr>
            <td>{{offeringList.name}}</td>
            <td style='flex: 0 0 150px'>{{offeringList.priority}}</td>
            <td style='flex: 0 0 150px'>
                <div>
                    <button pButton type="button" icon="pi pi-pencil" pTooltip="Editar offering" tooltipPosition="top" (click)="saveOffering(offeringList)"
                        class="p-button-rounded p-button-text p-button-plain icon"></button>
                    <button pButton type="button" icon="pi pi-trash" pTooltip="Borrar offering" tooltipPosition="top" (click)="showDialog(offeringList)"
                        class="p-button-rounded p-button-text p-button-plain icon"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<div  class="mt-3 flex justify-content-end">
    <button pButton type="button" class="p-3" (click)="saveOffering()" label="Nuevo offering"></button>  
</div>
